<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación Estudiante | Plataforma Notas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-general/style.css') }}">
    <link rel="shortcut icon" href="/front/img/escuelaico.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/front/fontawesome-free-6.6.0-web/css/all.css">
</head>
<!-- <body class="flex flex-col w-screen bg-slate-400 m-auto"> -->
<body class="bg-none">
<header>
    <h1>Sabra Dios</h1>
</header>
<main>
    <form action="{{ url_for('asignar_materia_estudiante') }}" method="POST" class="formu border-2 border-white ">
        <div class="select">
            <label for="estudiante">Seleccionar Estudiante:</label>
            <select name="estudiante" id="estudiante" class="bg-black">
                {% for estudiante in estudiantes %}
                    <option value="{{ estudiante[0] }}">{{ estudiante[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select">
            <label for="materia">Seleccionar Materia:</label>
            <select name="materia" id="materia" class="bg-black">
                {% for materia in materias %}
                    <option value="{{ materia[0] }}">{{ materia[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="bg-slate-900 p-2 mt-2 hover:bg-slate-950">Asignar Materia</button>
    </form>

    <div class="flex flex-col gap-5 bg-slate-800 border-2 border-white my-10 p-8">
        <b>Asignar Materia</b>
        <p>Aqui va la materia etcc...</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
</main>

<hr class="linea">    
    <footer>
        <p>© 2024 Plataforma Notas</p>
    </footer>
</body>
</html>