<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación Estudiante</title>
</head>
<body>
    <!-- asignar_materia_estudiante.html -->
    <form action="{{ url_for('asignar_materia_estudiante') }}" method="POST">
        <label for="estudiante">Seleccionar Estudiante:</label>
        <select name="estudiante" id="estudiante">
            {% for estudiante in estudiantes %}
                <option value="{{ estudiante[0] }}">{{ estudiante[1] }}</option>
            {% endfor %}
        </select>
        
        <label for="materia">Seleccionar Materia:</label>
        <select name="materia" id="materia">
            {% for materia in materias %}
                <option value="{{ materia[0] }}">{{ materia[1] }}</option>
            {% endfor %}
        </select>
    
        <button type="submit">Asignar Materia</button>
    </form>
    


</body>
</html>