<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación Docente</title>
</head>
<body>
    <!-- asignar_materia_docente.html -->
    <form action="{{ url_for('asignar_materia_docente') }}" method="POST">
        <label for="docente">Seleccionar Docente:</label>
        <select name="docente" id="docente">
            {% for docente in docentes %}
                <option value="{{ docente[0] }}">{{ docente[1] }}</option>
            {% endfor %}
        </select>
        
        <label for="materia">Seleccionar Materia:</label>
        <select name="materia" id="materia">
            {% for materia in materias %}
                <option value="{{ materia[0] }}">{{ materia[1] }}</option>
            {% endfor %}
        </select>
    
        <button type="submit">Asignar Materia</button>
    </form>
    


</body>
</html>