@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    align-items: center;
    background: url(/front/img/notebook.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: #0d1b2a;
    font-family: Raleway;
    color: white;
    cursor: url(/front/img/cursor.png) -20 10, auto;
}
a {
    text-decoration: none;
}
.linea {
    width: 90%;
}
a, button, #submit {
    cursor: url(/front/img/bee--pointer.png) -20 10, auto;
}
input {
    cursor: url(/front/img/escarabajo--pointer.png), auto;
}
header {
    width: 95%;
    align-items: end;
    justify-content: end;
    text-align: end;
    background-color: lightslategray;
}
header h1 {
    font-size: 2.8rem;
    text-align: center;
}
header img {
    margin: 0 0 50px 50px;
    width: 15rem;
    background-color: darkblue;
    transition: 2s;
    border-radius: 10rem;
}
header img:hover {
    background-color: rgba(265, 99, 71, 0.8);
} 
.menu {
    display: flex;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    background-color: rgba(173, 216, 230, 0.498);
    transition: 1s;
}
.menu h1 {
    width: 60%;
    margin: 0.1% 25%;
    font-size: 100%;
    font-size: 2rem;
}
.menu .user {
    display: flex;
    width: 20rem;
    justify-content: space-around;
    padding: 0;
    margin: 0 3px;
    font-style: italic;
    color: white;
    color: black;
    transition: all 0.7s;
    text-align: center;
}
.menu .user:hover {
    border-left: 1px solid white; border-right: 1px solid white;
    border-radius: 40px;
}
.menu .user:active {
    color: white;
    background-color: rgba(255, 140, 0, 0.208);
}
.menu .user p {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
.menu .user a i {
    display: flex;
    margin-left: 10px;
    align-items: center;
    width: 50%;
}
.menu a {
    display: flex;
}
.menu ul {
    display: flex;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: white;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: rgba(91, 100, 109, 0.423);
    border: 3px solid black;
}   
main h1 {
    background-color: rgba(255, 255, 255, 0.242);
    font-size: 100%;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0.1% 25%;
    width: 60%;
    transition: 1s;
    color: white;
}
.container {
    display: flex;
    margin: auto;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: 1s;
    border-radius: 20px;
    /* background-color: #001d3d; */
}
.formu {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 50rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: #202020e1;
    border-radius: 20px;
    transition: 1s;
}
.formu:hover {
    width: 28%;
}
.formu fieldset {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5% 0 5%;
    border: 3px solid white;
    border-radius: 20px;
}
.formu fieldset:hover {
    border: 4px solid rgba(255, 255, 255, 0.523);
    transition: 2s;
}
.formu fieldset img {
    width: 6rem;
    margin-bottom: 3vh;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.064);
    transition: 1s;
    object-fit: cover;
}
.formu fieldset img:hover {
    width: 7rem;
    padding: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.364);
    background-color: rgba(255, 255, 255, 0.264);
    border-radius: 30px;
    cursor: crosshair;
    filter: contrast(160%);
}
.formu fieldset img:active {
    width: 7rem;
    padding: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.264);
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 50px;
}
.formu fieldset h2 {
    font-size: 1.6rem;
    margin: 10px 0 10px 0;
    transition: all 1s;
    text-shadow: none;
}
.formu fieldset h2:active {
    text-shadow: none;
    padding: 5px;
}
.formu fieldset h2, input, img {
    transition: all 1s;
}
.formu fieldset input {
    width: 80%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.482);
    color: white;
}
.formu fieldset input:hover {
    background-color: white;
    color: black;
}
.formu fieldset input:focus {
    background-color: rgb(76, 69, 69);
    color: white;
}
.formu fieldset a {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    border-bottom: 1px solid white; border-top: 1px solid white;
    transition: 0.7s;
}
.formu fieldset a:hover {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 16px;
    border-bottom: 1px solid white;
}
.formu fieldset button{
    width: 45%;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding: 7px;
    margin: 5px 0 20px 0;
    color: black;
    border: none;
    border-radius: 8px;
    background-color: white;  
    transition: 1s;
}
.formu fieldset button:hover {
    border-radius: 15px;
    border: 1px solid white;
    background-color: rgb(17, 19, 32);
    color: white;
}
.formu fieldset button:active {
    background-color: rgba(47, 79, 79, 0.118);
}
.formu fieldset .forgot {
    width: 100%;    
}
.formu fieldset .forgot a {
    font-size: 12px;
    padding: 7px;
    border: none;
}
.nota {
    background-color: rgba(255, 255, 255, 0.167);
    padding: 20px;
    border-bottom: 1px solid white;
}
.nota:hover {
    background-color: rgba(255, 255, 255, 0.367);
}
.nota a {
    color: white;
}
.container2 {
    display: flex;
    width: 80%;
    padding: 30px;
    background-color: #202020;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    transition: all 1s;
}
.container2 fieldset {
    width: 80%;
}
.container2 fieldset, 
.container2 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    border: 2px solid white;
}
.container2 figure {
    border: none;
    border-bottom: 2px solid white;
}
.container2 fieldset p {
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 15px;
}
.container2 article:nth-child(odd):hover {
    background-color: rgba(255, 255, 255, 0.149);
}
.container2 article {
    display: grid;
    width: 70%;
    margin: auto;
    justify-items: center;
    text-align: center;
    font-family: Faculty Glyphic;
    background-color: rgba(119, 136, 153, 0.286);
    transition: all 1s;
}
.container2 article p {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.container2 article:nth-child(even):hover {
    background-color: rgba(255, 255, 255, 0.149);
    background-color: white;
    color: black;
}
.info-text-min {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    background-color: white;
    color: black;
}
.info-text-min:hover {
    background-color: #202020;
    color: white;
}
.select {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    margin: 20px 0;
}
#password {
    margin: 0 0 1rem 0;
}
pre {
    margin: 0;
}
footer p {
    margin: 0 0 5px 0;
}
.ico img {
    border-radius: 50%;
    border: 5px solid blue;
}
